version: "3"
services:
  proxy:
    restart: always
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./proxy/nginx.default.conf:/etc/nginx/conf.d/default.conf
      - ./logs/nginx:/var/log/nginx
  onewebsite:
    restart: always
    build: .
    environment:
      MYSQL_CN_URL: ${MYSQL_CN_URL}
      MYSQL_CN_USERNAM: ${MYSQL_CN_USERNAME}
      MYSQL_CN_PASSWORD: ${MYSQL_CN_PASSWORD}"
      MYSQL_CN_TZ: ${MYSQL_CN_TZ}
      MYSQL_EN_URL: ${MYSQL_EN_URL}
      MYSQL_EN_USERNAME: ${MYSQL_EN_USERNAME}
      MYSQL_EN_PASSWORD: ${MYSQL_EN_PASSWORD}
      MYSQL_EN_TZ: ${MYSQL_EN_TZ}
    volumes:
      - ./src/main/resources/application.yml:/usr/local/lib/application.yml
      - ./magic-scripts:/opt/metadata/magic-api
      - ./attachments:/opt/erupt-attachment
    ports:
      - 8080:8080
    

