<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- lodash，低代码编辑器的依赖 -->
    <script src="https://g.alicdn.com/platform/c/lodash/4.6.1/lodash.min.js"></script>
    <!-- 日期处理包，Fusion Next 的依赖 -->
    <script src="https://g.alicdn.com/code/lib/moment.js/2.29.1/moment-with-locales.min.js"></script>
    <title>
        $title
    </title>
    <script defer="" src="http://localhost:7000/dashboard.js"></script>
</head>

<body>
<div id="app" style="height: 100%;">
</div>
<link rel="stylesheet" type="text/css" href="http://localhost:7000/dashboard.css">
</body>

</html>